<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Welcome, {{ username }}</h2>
<a href="/logout">Logout</a>

<hr>

<div class="container">

  <div class="card" style="width:20%">
    <h3>Options</h3>
    <button disabled>Upload File</button><br><br>
    <button disabled>My Files</button><br><br>
    <button disabled>Shared With Me</button>
  </div>

  <div class="card" style="width:50%">
    <h3>Upload File</h3>

    <input type="file" id="fileInput">
    <button id="uploadBtn" onclick="uploadFile()">Upload</button>

    <hr>

    <h3>Recently Uploaded</h3>
    <ul id="fileList"></ul>
  </div>

  <div class="card" style="width:30%">
    <h3>Shared Files</h3>
    <div id="sharedFiles">Coming soon</div>
  </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
